@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
  
  .container {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/streaming/Background.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    backdrop-filter: blur(10px);
    height: 95vh;
    width: 95vw;
    background-color: #005AFF33;
    border-radius: 12px;
    overflow: auto;
  }

  .content::-webkit-scrollbar {
    width: 10px;
  }
  .content::-webkit-scrollbar-track {
    background: #0059ff59; 
    border-radius: 10px;
  }
  .content::-webkit-scrollbar-thumb {
    background: rgb(235, 221, 252); 
    border-radius: 10px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 30px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .title img {
    height: 80px;
  }
  .title h1 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    margin: 20px;
  }
  .title h2 {
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
  }
  .wallet {
    display: flex;
    align-items: center;
  }
  .terms a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  .terms a:hover {
    color: #ec0868;
  }
  .title span {
    padding-right: 50px;
    cursor: pointer;
  }
  .title button {
    width: 190px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #ec0868;
    color: #ec0868;
    border-radius: 10rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
  .title i {
    margin-right: 15px;
  }
  .title button:hover {
    background-color: #ec0868;
    color: white;
  }
  .connected {
    display: block;
    width: 170px;
    height: 45px;
    background-color: #ec0868;
    border: 1px solid #ec0868;
    border-radius: 10rem;
    text-align: center;
    align-content: center;
    color: white;
  }
  .connected:hover {
    cursor: pointer;
    background-color: transparent;
  }
  .connected p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .wallet_info i {
    font-size: 12px;
    margin-right: 0px;
  }
  .cards_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 0 30px;
  }
  .item1 {
    grid-column: span 2; /* This makes item1 span 2 columns */
    width: 100% !important;
  }
  .card_first {
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 290px;
    height: 410px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.8);
    margin-top: 30px;
    cursor: pointer;
  }
  .intro{
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: #8980f0ad;
  }
  .card_first p {
    color: white;
    text-transform: none;
    font-size: 14px;
    margin: 0 10px;
    text-align: center;
  }
  .card_first button {
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.8);
    width: 50%;
    height: 50%;
    border-radius: 10rem;
    color: white;
    align-self: center;
    justify-self: center;
  }
  .card_first button:hover {
    background-color: #ec0868;
    border: 1px solid #ec0868;
  }
  .card_first:hover {
    backdrop-filter: blur();
    box-shadow: 0px 4px 30px 0px rgba(105, 105, 184, 0.5);
  }
  .card {
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 290px;
    height: 410px;
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.8);
    margin-top: 30px;
    opacity: 0.5;
  }
  .card.active {
    opacity: 1;
    cursor: pointer;
  }
  .card.active:hover{
    backdrop-filter: blur();
    box-shadow: 0px 4px 30px 0px rgba(105, 105, 184, 0.5);
  }
  .card.active:hover img{
    transform: scale(1.02);
  }
  .img_row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .img_row img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }
  .info_row {
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .info_row h1 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px
  }
  .info_row p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 10px
  }
  .first_button {
    background-color: #E4CCFF;
    border: 1px solid #E4CCFF;
    cursor: pointer;
  }
  .third_button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  .product_row {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 1vh;
    gap: 25px
  }
  .player {
    width: 20vw;
    min-width: 450px;
    max-width: 650px;
    height: 620px;
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.8);
    display: grid;
    grid-template-rows: 4fr 0.5fr 1fr;
    align-items: center;
  }
  .player_img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .player_img img {
    width: 420px;
    height: 450px;
    border-radius: 8px;
  }
  .faq {
    font-size: 20px;
    text-transform: uppercase;
  }
  .info {
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.8);
  }
  .info p {
    font-size: 16px;
    margin: 15px;
    line-height: 20px;
    text-align: justify;
  }
  .player_controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }
  .player_controls i {
    font-size: 24px;
    cursor: pointer;
    padding: 15px 0;
    width: 56px;
    text-align: center;
    
  }
  .icon_primary {
    background-color: rgb(186, 206, 230);
    border: 1px solid white;
    border-radius: 50%;
  }
  .icon_off {
    color: white;
  }
  .icon_on {
    color: #ec0868;
  }
  .info {
    color: white;
  }
  .info .title {
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .info .title h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  .info .title_info {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .info .title_info p {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
  }
  .socials {
    margin-top:5px;
    font-size: 26px;
  }
  .socials i {
    margin-left: 20px;
  }
  .socials a {
    color: white;
  }
  .socials i:hover{
    box-shadow: 0px 4px 30px 0px rgba(105, 105, 184, 0.5);
    opacity: 0.7;
  }
  .tracks h1 {
    margin: 25px 15px 15px 15px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
  }

  .track_list {
    margin: 20px 10px 0px 10px;
  }
  .track {
    height: 60px;
    border-bottom: 1px solid rgba(198, 173, 226, 0.199);
    border-radius: 15px;
    margin: 2px 0;
    display: grid;
    grid-template-columns: 0.5fr 6fr 1fr 0.5fr;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
  }

  .track button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:white
  }
  .track button:disabled {
    cursor: default;
  }
  track button:hover {
    color: #ec0868;
  }
  .track button:disabled:hover {
    color: black;
  }

  .track_active {
    background-color: rgb(186, 206, 230);
    color: black;
    cursor: default;
  }
  .track_active button {
    color: black;
  }
  .track_active button:hover i {
    color: #ec0868;
  }
  .track.track_active:hover {
    background-color: rgb(186, 206, 230)
  }
  .track img {
    height: 40px;
    border-radius: 6px;
    align-self: center;
    justify-self: center;
  }
  .track:hover {
    background-color: rgb(235, 221, 252);
    color: black;
  }
  .track:hover button {
    color: black;
  }
  .track_name {
    text-align: left;
  }
  .track_name h4 {
    margin: 0;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }
  .track_name p {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }
  .duration {
    text-align: right;
    padding-right: 15px;
  }
  .duration h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
  }
  .duration p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }
  .progress_bar {
    height: 10px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid rgba(250, 250, 250, 0.4);
    text-align: center;
    align-content: center;
  }
  .progress {
    height: 100%;
    background-color: #ec0868;
    border-radius: 15px;
    align-content: center;
  }
  .message {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #ec0868;
    border-radius: 10px;
    padding: 10px;
    background-color: #ec0868;
  }
  @keyframes fillAnimation {
    from {
      width: 0%;
    }
    to {
      width: max-width;
    }
  }
  #fill {
    animation: fillAnimation 5s forwards;
  }
  .product_action_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15px;
    gap: 10px;
  }
  .product_action_row button {
    height: 40px;
    border-radius: 10rem;
    font-size: 16px;
    cursor: pointer;
  }
  .product_action_row button:hover {
    background-color: #ec0868;
    color: white;
  }
  .product_action_row button:disabled {
    cursor: default;
    border: 1px solid grey;
    color: grey;
    background-color: transparent;
  }
  .audio_player {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  .audio_player p {
    margin: 30px 0 0 0;
    color: white;
  }
  .audio_player input {
    width: 300px;
    margin: 30px 10px 0px 10px;
  }
  .policy {
    color: white;
    margin: 0 30px;
    text-align: justify;
  }
  .policy h2 {
    margin-bottom: 5px;
  }
  .policy p {
    padding-left: 40px;
    margin-top: 0px;
  }
  .policy ul {
    margin-top: 0px;
  }
  @media (max-width: 1700px) {
    .cards_row {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 1400px) {
    .cards_row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 1186px) {
    .title {
      display: block;
    }
    .wallet {
      display: flex;
      justify-content: end;
    }
  }
  @media (max-width: 1100px) {
    .product_row {
      display: block;
      gap: 15px;
    }
    .player {
      display: block;
      max-width: 100%;
      min-width: 0%;
      width: 100%;
      height: 10vh;
    }
    .info {
      width: 100%;
    }
    .player img {
      display: none
    }
    .audio_player {
      padding-top: 0;
    }
    .audio_player input {
      width: 63%;
      margin: -15px 0 0 0;
    }
    .audio_player p {
      margin: -15px 15px 0 15px;
    }
  }
  @media (max-width: 1050px) {
    .cards_row {
      grid-template-columns: repeat(1, 1fr);
    }
    .title h1{
      font-size: 0.8em;
      margin-right: 0px;
    }
    .title h2{
      font-size: 0.6em;
      margin-right: 0px;
    }
    .logo img{
      height: 50px;
    }
    .terms a{
      font-size: 0.8em;
    }
    .connected {
      width: 140px;
    }
    .connected a{
      font-size: 0.5em;
    }
    .info .title h1{
      font-size: 1em;
    }
    .info .title_info p{
      font-size: 0.7em;
    }
    .player{
      height: 11vh;
      min-height: 90px;
      margin-top: 20px;
    }
    .title button{
      font-size: 0.8em;
    }
    .title button{
      width: 150px;
    }
  }
  @media (max-width: 750px) {
    .title {
      display: block;
    }
  }
  @media (max-width: 594px) {
    .price_right {
      text-align: right;
    }
    .terms {
      display: grid;
      text-align: center;
    }
  }
  @media (max-width: 494px) {
    .socials i {
      margin-left: 5px;
    }
  }

