  .container {
    font-family: '', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/streaming/Background.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    backdrop-filter: blur(10px);
    height: 95vh;
    width: 95vw;
    background-color: #005AFF33;
    border-radius: 12px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 30px 25px 30px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .title img {
    height: 80px;
  }
  .title p {
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin: 20px;
  }
  .title span {
    padding-right: 50px;
    cursor: pointer;
  }
  .title button {
    width: 190px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #ec0868;
    color: #ec0868;
    border-radius: 10rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
  .title i {
    margin-right: 15px;
  }
  .connected {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 190px;
    height: 45px;
    background-color: #ec0868;
    border: 1px solid #ec0868;
    border-radius: 10rem;
    text-align: center;
    align-items: center;
    color: white;
  }
  .connected i {
    font-size: 20px;
    margin-right: 0px;
    cursor: pointer;
  }
  .connected p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
    border-right: 1px solid rgba(250, 250, 250, 0.438);
  }
  .wallet_info i {
    font-size: 12px;
    margin-right: 0px;
  }
  .cards_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    justify-items: center;
    margin: 0 30px;
    height: 75vh;
  }
  .cards_row::-webkit-scrollbar {
    width: 10px;
  }
  .cards_row::-webkit-scrollbar-track {
    background: #0059ff59; 
    border-radius: 10px;
  }
  .cards_row::-webkit-scrollbar-thumb {
    background: rgb(235, 221, 252); 
    border-radius: 10px;
  }
  .card {
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 290px;
    height: 410px;
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.39);
    margin-bottom: 30px;
    opacity: 0.5;
  }
  .card.active {
    opacity: 1;
    cursor: pointer;
  }
  .card.active:hover{
    backdrop-filter: blur();
    box-shadow: 0px 4px 30px 0px rgba(105, 105, 184, 0.5);
  }
  .img_row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .img_row img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }
  .info_row {
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .info_row h1 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px
  }
  .info_row p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 10px
  }
  .first_button {
    background-color: #E4CCFF;
    border: 1px solid #E4CCFF;
    cursor: pointer;
  }
  .second_button {
    background-color: #c4c0c9d0;
    border: 1px solid #c4c0c9d0;
    color: white;
    cursor: pointer;
  }
  .third_button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  .product_row {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 1vh;
    gap: 25px
  }
  .player {
    width: 20vw;
    min-width: 450px;
    max-width: 650px;
    height: 620px;
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.39);
    display: grid;
    grid-template-rows: 4fr 0.5fr 1fr;
    align-items: center;
  }
  .player_img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .player_img img {
    width: 420px;
    height: 450px;
    border-radius: 8px;
  }
  .info {
    height: 80vh;
    border-radius: 8px;
    background-color: #5C4AB699;
    border: 1px solid rgba(250, 250, 250, 0.39);
  }
  .info p {
    font-size: 16px;
    margin: 15px;
    line-height: 20px;
  }
  .player_controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }
  .player_controls i {
    font-size: 24px;
    cursor: pointer;
    padding: 15px 0;
    width: 56px;
    text-align: center;
    
  }
  .icon_primary {
    background-color: rgb(186, 206, 230);
    border: 1px solid white;
    border-radius: 50%;
  }
  .icon_off {
    color: white;
  }
  .icon_on {
    color: #ec0868;
  }
  .info {
    color: white;
  }
  .info .title {
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .info .title h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  .info .title_info {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .info .title_info p {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
  .socials {
    margin-top:5px;
    font-size: 26px;
  }
  .socials i {
    margin-left: 20px;
  }
  .socials a {
    color: white;
  }
  .socials i:hover{
    box-shadow: 0px 4px 30px 0px rgba(105, 105, 184, 0.5);
    opacity: 0.7;
  }
  .tracks {
  }
  .tracks h1 {
    margin: 25px 15px 15px 15px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
  }
  .track_list {
    height: 45vh;
    overflow: auto;
    margin: 20px 10px 0px 10px;
  }
  .track_list::-webkit-scrollbar {
    width: 10px;
  }
  .track_list::-webkit-scrollbar-track {
    background: #0059ff59; 
    border-radius: 10px;
  }
  .track_list::-webkit-scrollbar-thumb {
    background: rgb(235, 221, 252); 
    border-radius: 10px;
  }
  .track {
    height: 60px;
    border-bottom: 1px solid rgba(198, 173, 226, 0.199);
    border-radius: 15px;
    margin: 2px 0;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 6fr 1fr;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
  }
  .track_active {
    background-color: rgb(186, 206, 230);
    color: black;
    cursor: default;
  }
  .track.track_active:hover {
    background-color: rgb(186, 206, 230)
  }
  .track img {
    height: 40px;
    border-radius: 6px;
  }
  .track:hover {
    background-color: rgb(235, 221, 252);
    color: black;
  }
  .track_name {
    text-align: left;
  }
  .track_name h4 {
    margin: 0;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }
  .track_name p {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }
  .duration {
    text-align: right;
    padding-right: 15px;
  }
  .duration h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
  }
  .duration p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }
  .progress_bar {
    height: 40px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid rgba(250, 250, 250, 0.39);
    text-align: center;
    align-content: center;
  }
  .progress {
    height: 100%;
    background-color: #ec0868;
    border-radius: 15px;
    align-content: center;
  }
  @keyframes fillAnimation {
    from {
      width: 0%;
    }
    to {
      width: max-width;
    }
  }
  #fill {
    animation: fillAnimation 5s forwards;
  }
  .product_action_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15px;
    gap: 10px;
  }
  .product_action_row button {
    height: 40px;
    border-radius: 10rem;
    font-size: 16px;
    cursor: pointer;
  }
  .audio_player {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  .audio_player p {
    margin: 30px 0 0 0;
    color: white;
  }
  .audio_player input {
    width: 300px;
    margin: 30px 10px 0px 10px;
  }
